@charset "UTF-8";
body {
  font-family: Menlo, monospace;
}

.wrapper {
  width: 100%;
}

footer {
  width: 100%;
}

/*---------------- Start Header ----------------*/
header {
  background-color: #002a38;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}

.zelt-logo {
  fill: #fc845d;
}

header .logo {
  font-size: 24px;
  color: #1F2833;
  text-transform: uppercase;
  font-family: Menlo, monospace;
}

header nav ul {
  list-style: none;
  display: flex;
}

header nav ul li {
  margin: 0 10px;
}

header nav ul li a {
  color: #FDFEFB;
  text-decoration: none;
  font-size: 17px;
  font-family: Menlo, monospace;
  box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
  transition: all 0.3s ease-in-out;
}

header nav ul li a:hover {
  box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
}

header nav ul li.emoji {
  margin: 0;
}

/*---------------- End Header ----------------*/
/*---------------- Start Hero ----------------*/
.hero {
  background-image: url(../img/a-n-v-e-s-h-cxEI5bFR8Mo-unsplash.jpg);
  height: 800px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 0 20px;
}

.hero .zelt-logo {
  fill: #fc845d;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.kontaktformular {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

.kontaktformular h2 {
  margin: 0 0 20px 0;
  font-size: 24px;
  text-align: center;
  color: #333;
}

.kontaktformular label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
  color: #333;
}

.kontaktformular input,
.kontaktformular textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 8px 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  font-size: 16px;
  color: #333;
}

.kontaktformular textarea {
  resize: none;
}

.kontaktformular textarea {
  resize: none;
}

.kontaktformular button {
  background-color: #fc845d;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.kontaktformular button:hover {
  background-color: #f76b42;
}

/*---------------- Ende Hero ----------------*/
/*-------------- Start Fußzeile -------------*/
footer {
  background-color: #002a38;
  padding: 10px 0;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

footer ul li {
  margin: 0 10px;
}

footer ul li a {
  color: white;
  text-decoration: none;
  font-family: Menlo, monospace;
  transition: all 0.3s ease-in-out;
  box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
}

footer ul li a:hover {
  box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
}

/* Social Media */
footer li a.instagram {
  color: #C13584;
}

footer li a.twitter {
  color: #1DA1F2;
}

footer li a.youtube {
  color: #FF0000;
}

footer li a.youtube span {
  color: #FDFEFB;
}

footer li a.impressum,
footer li a.datenschutz {
  color: #FDFEFB;
}

footer li.heart {
  color: white;
  font-size: 1.3em;
  display: flex;
  align-items: center;
}

footer ul li:hover ~ li.heart p {
  animation: wave-animation 0.3s infinite;
}

@keyframes wave-animation {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-15deg);
  }
}
/*---------------- Ende Fußzeile ----------------*/
/*------- Start Media Queries Smartphones -------*/
@media only screen and (max-width: 480px) {
  header {
    height: 60px;
  }
  header .logo {
    font-size: 18px;
  }
  header nav ul li a {
    font-size: 14px;
  }
  .hero {
    height: 500px;
  }
  .kontaktformular h2 {
    font-size: 20px;
  }
  .kontaktformular label {
    font-size: 14px;
  }
  .kontaktformular input,
  .kontaktformular textarea {
    font-size: 14px;
  }
  /* Adjust footer*/
  footer ul li a {
    font-size: 14px;
  }
}
/*------- Ende Media Queries Smartphones -------*/
/*--------- Start Media Queries Tablets --------*/
@media only screen and (min-width: 481px) and (max-width: 912px) {
  /* Adjust header */
  header .logo {
    font-size: 20px;
  }
  header nav ul li a {
    font-size: 16px;
  }
  .hero {
    height: 600px;
  }
  .kontaktformular h2 {
    font-size: 22px;
  }
  .kontaktformular label {
    font-size: 16px;
  }
  .kontaktformular input,
  .kontaktformular textarea {
    font-size: 16px;
  }
  /* Adjust footer */
  footer ul li a {
    font-size: 16px;
  }
}
/*--------- Ende Media Queries Tablets --------*//*# sourceMappingURL=kontakt_style.css.map */