body {
    font-family: Menlo, monospace;
    min-height: 100vh;
    position: relative;
    }
  
  .wrapper {
    width: 100%;
    }
  
  footer {
    width: 100%;
    }
  
  /*---------------- Start Header ----------------*/
  header {
    background-color: #002a38; 
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    }
    
  .zelt-logo {
    fill: #fc845d; 
    }
    
  header .logo {
    font-size: 24px;
    color: #1F2833;
    text-transform: uppercase;
    font-family: Menlo, monospace; 
    }
    
  header nav ul {
    list-style: none;
    display: flex;
    }
    
  header nav ul li {
    margin: 0 10px;
    }
    
  header nav ul li a {
    color: #FDFEFB;
    text-decoration: none;
    font-size: 17px;
    font-family: Menlo, monospace; 
    box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4); 
    transition: all 0.3s ease-in-out; 
    }
    
  header nav ul li a:hover {
    box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4); 
    }
    
  header nav ul li.emoji {
    margin: 0;
    }
  /*---------------- End Header ----------------*/